body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    letter-spacing: 3px;
}

.hero {
    height: 450px;
    background-image: url("https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/original/CLP-Fragrance-Top-Carousel-Maison-Margiela-D-1770298059936.jpeg?dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero h2 {
    font-size: 45px;
    background-color: rgba(0,0,0,0.6);
    padding: 10px 10px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 250px;
    text-align: center;
    padding: 20px;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0 5px 0;
    font-size: 18px;
}

.card p {
    font-weight: bold;
}
