body{
    font-family: Arial, sans-serif;
}

nav{
    background-color: rgb(170, 0, 0);
    padding: 10px;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
}

