*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f6f6f6;
}

header{
    background:#111;
    color:#fff;
    padding:20px;
    text-align:center;
    font-size:24px;
    font-weight:bold;
}

.container{
    padding:30px;
}

.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}

.card{
    background:#fff;
    border-radius:6px;
    overflow:hidden;
    margin-top: 100px;
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.info{
    padding:15px;
}

.info h3{
    font-size:16px;
    margin-bottom:5px;
}

.info p{
    font-size:14px;
    color:#555;
}

.price{
    margin:10px 0;
    font-weight:bold;
}

button{
    width:100%;
    padding:10px;
    border:none;
    background:#111;
    color:#fff;
    cursor:pointer;
}

button:hover{
    background:#333;
}

footer{
    background:#111;
    color:#fff;
    text-align:center;
    padding:15px;
    margin-top:  60px;
}

